title: "Berke Şentürk"
description: "AI • Renewable Energy • Atmospheric Science"
url: "https://berkesenturk.github.io"
baseurl: ""

theme: minima

markdown: kramdown
highlighter: rouge

permalink: /blog/:year/:month/:day/:title/
